@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
.navbar-main-wrap {
  width: 100%;
  position: relative;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ff525d;
  border-radius: 0 0 0 55px;
  background-image: url("../images/bg-pattern-intro.svg");
  background-size: 160%;
  background-repeat: no-repeat;
  background-position: center left;
}

.navbar-main-wrap .navbar-link {
  margin-top: 35px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-family: 'overpass', sans-serif;
  font-weight: 600;
}

.navbar-main-wrap .navbar-link .navbar-link-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.navbar-main-wrap .navbar-link .navbar-link-navigation .navbar-link-element {
  font-size: 14px;
  opacity: 0.8;
}

.navbar-main-wrap .navbar-link .navbar-link-navigation .navbar-brand {
  font-size: 28px;
  margin-right: 20px;
}

.navbar-main-wrap .navbar-link .navbar-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 20px;
  padding: 0px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.navbar-main-wrap .navbar-link .navbar-login .login {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0);
}

.navbar-main-wrap .navbar-link .navbar-login .sign-up {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0);
}

.navbar-main-wrap .navbar-link .navbar-login .login:hover {
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}

.navbar-main-wrap .navbar-link .navbar-login .sign-up:hover {
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}

.navbar-main-wrap .navbar-hero-header {
  margin-top: 100px;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.navbar-main-wrap .navbar-hero-header .navbar-hero-title {
  font-family: "overpass", sans-serif;
  font-size: 36px;
  font-weight: 600;
  color: white;
}

.navbar-main-wrap .navbar-hero-header .navbar-hero-subtitle {
  font-family: "overpass", sans-serif;
  font-size: 18px;
  opacity: 0.8;
  font-weight: 600;
  color: white;
}

.navbar-main-wrap .navbar-hero-header .navbar-hero-header-btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}

.navbar-main-wrap .navbar-hero-header .navbar-hero-header-btn-wrap .navbar-hero-btn {
  all: unset;
  font-family: "overpass", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: white;
}

.navbar-main-wrap .navbar-hero-header .navbar-hero-header-btn-wrap .navbar-learn {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0);
}

.navbar-main-wrap .navbar-hero-header .navbar-hero-header-btn-wrap .navbar-start {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0);
}

.navbar-main-wrap .navbar-hero-header .navbar-hero-header-btn-wrap .navbar-learn:hover {
  background-color: white;
  color: #ff3d54;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}

.navbar-main-wrap .navbar-hero-header .navbar-hero-header-btn-wrap .navbar-start:hover {
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}

.introduction-main-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 100px;
  margin-left: 80px;
}

.introduction-main-wrap .introduction-title {
  font-family: "ubuntu", sans-serif;
  font-weight: 500;
  color: #1f3f5b;
}

.introduction-main-wrap .introduction-colum-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

.introduction-main-wrap .introduction-colum-wrap .introduction-column-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.introduction-main-wrap .introduction-colum-wrap .introduction-column-text .introduction-title-paragraph {
  font-family: "ubuntu", sans-serif;
  font-weight: 400;
  color: #1f3f5b;
}

.introduction-main-wrap .introduction-colum-wrap .introduction-column-text .introduction-paragraph {
  font-family: "ubuntu", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #1f3f5b;
}

.introduction-main-wrap .introduction-colum-wrap .introduction-column-illustration svg {
  width: 50vw;
  height: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */